
{% extends "base.html" %}

{% block page_title %}買い物メモ{% endblock %}

{% block content %}
{% load static %}
<section class="container">
    <div class="memolist">
        <table>
            <thead>
                <tr>
                    <th><span>商品名</span></th>
                    <th>個数</th>
                    <th>済</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for buyitem in buyitem_list %}
                <tr>
                    <td>{{ buyitem.name }}</td>
                    <td>{{ buyitem.need_count }}</td>
                    <td>
                        {% if buyitem.is_purchased %}
                        <img src="{% static 'images/checked.svg' %}" alt="購入済み" width="20" height="20" />
                        {% else %}
                        <img src="{% static 'images/check.svg' %}" alt="購入済み" width="20" height="20" />
                        {% endif %}
                    </td>
                    <td>
                        <img src="{% static 'images/detail.svg' %}" alt="変更" width="20" height="20" />
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</section>
{% endblock %}
